@media(max-width:768px){

	#sec-1{
		background-color: white;
	}
	nav{
		flex-direction:column !important;
	}
	
	nav li{
		display:block!important;
		margin:10px 0px;
	}
	.nav li{
		display:block!important;
		margin:10px 0px;
	}
	ul{
		text-align:center;
		padding:0;
		
	}
	.navroww{
		display: block;
	}
	
	
	.showmenu{
		display: none;
	}
	.navsm p{
		display: none;
		text-align: center;
	}
	.logo{
		
		align-self:flex-start;
		margin:10px 0px 0px 30px;
	}
	
	.menu{
		display:block;
		position:absolute;
		right:15px;
		top:37px;
	}
	
	.con-od-2{
		order:1;
	}
	.con-od{
		order:2;
	}
	
	.border{
		margin:10px 0px;
	}
	.sec-8{
		margin:10px 0px;
	}
	.card-2{
		margin:20px;
	}
	
	.sec-9-content-1 ul li a{
		padding:8px 0;
		display: block;
		text-align: left;
		margin-left: 10px;
	}
	
	
	.col-1sm
{
	width:8.33%;
	padding:0 15px;
}
.col-2sm
{
	width:16.66%;
	padding:0 15px;
}
.col-3sm
{
	width:25%;
	padding:0px;
}
.col-4sm
{
	width:33.33%;
	padding:0 15px;
}
.col-5sm
{
	width:41.66%;
	padding:0 15px;
}
.col-6sm
{
	width:50%;
	padding:0 15px;
}
.col-7sm
{
	width:58.33%;
	padding:0 15px;
}
.col-8sm
{
	width:66.66%;
	padding:0 15px;
}
.col-9sm
{
	width:75%;
	padding:0 15px;
}
.col-10sm
{
	width:83.33%;
	padding:0 15px;
}
.col-11sm
{
	width:91.66%;
	padding:0 15px;
}
.col-12sm
{
	width:100%;
	padding:0 15px;
}
	
.card-1 {
	
	text-decoration:none;
	background-color:#32cd32a3;
	color:white;
	padding: 30px 20px;
}
}


@media(min-width:768px) and (max-width:992px){
	.card-1 {
	
		text-decoration:none;
		background-color:#32cd32a3;
		color:white;
		padding: 30px 20px;
	}
	#sec-1{
		background-color: white;
	}
	nav{
		flex-direction:column !important;
	}
	
	nav li{
		display:block!important;
		margin:10px 0px;
	}
	.nav li{
		display:block!important;
		margin:10px 0px;
	}
	ul{
		text-align:center;
		padding:0;
		
	}
	.navroww{
		display: block;
	}
	
	
	.showmenu{
		display: none;
	}
	.navsm{
		display: none;
	}
	.navsm p{
		
		text-align: center;
	}
	.logo{
		
		align-self:flex-start;
		margin:10px 0px 0px 30px;
	}
	
	.menu{
		display:block;
		position:absolute;
		right:15px;
		top:42px;
	}
	
	
	.con-od-2{
		order:1;
	}
	.con-od{
		order:2;
	}
	
	.border{
		margin:10px 0px;
	}
	.sec-8{
		margin:10px 0px;
	}
	.card-2{
		margin:20px;
	}
	
	.sec-9-content-1 ul li a{
		padding:8px 0;
		display: block;
		text-align: left;
		margin-left: 10px;
	}
	
	
	.col-1ip
{
	width:8.33%;
	padding:0 15px;
}
.col-2ip
{
	width:16.66%;
	padding:0 15px;
}
.col-3ip
{
	width:25%;
	padding:0px;
}
.col-4ip
{
	width:33.33%;
	padding:0 15px;
}
.col-5ip
{
	width:41.66%;
	padding:0 15px;
}
.col-6ip
{
	width:50%;
	padding:0 15px;
}
.col-7ip
{
	width:58.33%;
	padding:0 15px;
}
.col-8ip
{
	width:66.66%;
	padding:0 15px;
}
.col-9ip
{
	width:75%;
	padding:0 15px;
}
.col-10ip
{
	width:83.33%;
	padding:0 15px;
}
.col-11ip
{
	width:91.66%;
	padding:0 15px;
}
.col-12ip
{
	width:100%;
	padding:0 15px;
}
	
	
}

	
@media(min-width:992px) and (max-width:1217px){
	.card-1 {
	
		text-decoration:none;
		background-color:#32cd32a3;
		color:white;
		padding: 30px 20px;
	}
	#sec-1{
		background-color: white;
	}
	nav{
		flex-direction:column !important;
	}
	
	nav li{
		display:block!important;
		margin:10px 0px;
	}
	.nav li{
		display:block!important;
		margin:10px 0px;
	}
	ul{
		text-align:center;
		padding:0;
		
	}
	.navroww{
		display: block;
	}
	
	
	.showmenu{
		display: none;
	}
	.navsm{
		display: none;
	}
	.navsm p{
		
		text-align: center;
		display: none;
		
	}
	.logo{
		
		align-self:flex-start;
		margin:10px 0px 0px 30px;
	}
	
	.menu{
		display:block;
		position:absolute;
		right:15px;
		top:42px;
	}

	.sec-9-content-1 ul li a{
		padding:8px 0;
		display: block;
		text-align: left;
		margin-left: 10px;
	}
	
}

